/* Wisconsin Injury Network CSS
   2022 - JD _ v0.0 */

html {

}

a:link {

}

a:visited {

}

a:hover{

}

navigation {

}

.menu{

}

.menu:hover {

}

body {

}

h1 {

}

h2 {

}

h3 {

}

footer {
  
}
