/* Wisconsin Injury Network CSS
   2022 - JD _ v0.0
   _Color-Theme_
   Logo: #9bc4e2
   ghostwhite
   */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');

html {
  background: linear-gradient(ghostwhite,lightsteelblue);
  background-position: center;
  background-attachment: fixed;
  font-family: 'Roboto Serif', sans-serif;
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9bc4e2;
}

.menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9bc4e2;
  font-size: 14px;
}

li {
  float: right;
}

li a {
  float: right;
  text-align: center;
  padding: 15px 15px;
  color: white;
}

li a:hover {
  background-color: white;
  color: #9bc4e2;
}

body {
  background-color: white;
}

div {
  display: block;
}

.about {
  padding: 30px;
  text-align: left;
  margin: auto;
  background-color: ghostwhite;
}

.services {
  padding: 30px;
  text-align: center;
  margin: auto;
  background-color: ghostwhite;
}

.banner {
  background-color: white;
  padding: 30px;
  display: flex;
  color: #9bc4e2;
}

.contact {
  padding-bottom: 50px;
  padding-left: 5%;
  padding-top: 30px;
  display: flex;
  margin: auto;
  text-align: left;
}

h1 {
  color: #9bc4e2;
  font-size: 30px;
}

h2 {
  font-weight: bold;
  font-size: 15px;
  padding: 15px;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 15px;
  text-indent: 20px;
  margin: auto;
  word-wrap: normal;
}

.vl {
  border-left: 3px solid #9bc4e2;
  height: 325px;
  margin-left: 15px;
}

hr {
  width: 50%;
  color: #9bc4e2;
  margin-top: 30px;
  margin-bottom: 5px;
  border-width: 2px;
  border-style: solid;
}

form {
  display: block;
  align-self: center;
  padding: 15px;
  max-width: 250px;
  background-color: ghostwhite;
}

button {
  width: 120px;
}

.contact-btn {
  font-size: 14px;
  border: 1px solid ghostwhite;
  color: white;
  background-color: #9bc4e2;
  padding: 10px 10px;
  margin: auto;
}

.contact-btn:hover {
  background-color: white;
  color: #9bc4e2;
  opacity: 1.5;
  border: 1px solid #9bc4e2;
}

.contact-btn a:visited {
  color: white;
}

.contact-btns {
  margin-left: 25px;
  padding: 25px 25px;
  background-color: ghostwhite;
  display: block;
}

.contact-btns a {
  color: #9bc4e2;
}

input[type=submit] {
  background-color: #9bc4e2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: white;
  color: #9bc4e2;
  border: 1px solid #9bc4e2;
}

.contact-ft {
  font-size: 12px;
  margin-top: 30px;
  line-height: 30px;
}

.servicelist {
  color: white;
  background-color: #9bc4e2;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: solid 1px white;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .servicelist:hover {
  background-color: ghostwhite;
  color: #9bc4e2;
}

.servicelist:after {
  content: '\002B';
  color: #9bc4e2;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0px 18px;
  background-color: ghostwhite;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 5px;
  max-width: 45%;
  transition: max-height 0.2s ease-out;
}

footer {
  text-align: center;
  font-size: 13px;
  color: #9bc4e2;
  font-weight: bold;
  text-shadow: 0 0 2px white;
  background-color: ghostwhite;
  padding-top: 15px;
  padding-bottom: 15px;
}
