/* Wisconsin Injury Network CSS
   2022 - JD _ v0.0
   _Color-Theme_
   Logo: #9bc4e2
   */

html {
  background-color: ghostwhite;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

.menu {
  overflow: hidden;
  background-color: #9bc4e2;
}

.menu a {
  display: inline-block;
  float: right;
  text-align: center;
  padding: 15px 15px;
  color: white;
}

.menu a:hover {
  background-color: white;
  color: #9bc4e2;
}

.banner {
  background-color: white;
  padding: 30px;
}

body {
  width: 1000px;
  margin: auto;
  background-color: white;
}

.about {
  width: 90%;
  margin: auto;
}

.contact {
  width: 90%;
  margin: auto;
}

h1 {
  color: #9bc4e2;
}

h2 {

}

h3 {

}

footer {
  text-align: center;
}
